.main-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login-wrapper {
  text-align: center;
}

.sidebar {
  /* background-color: #2f3136; */
  flex: 1;
}

.content {
  /* background-color: #36393f; */
  flex: 9;
  max-height: 100%;
  overflow: auto;
}

.login-form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.login-form .login-button {
  margin-top: 20px;
}

.login-form .login-error {
  margin-top: 10px;
  color: red;
  font-size: 12px;
}

.loader-container {
  display: flex !important;
  justify-content: center;
}

.sidebar-griditem {
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
}

.sidebar-itemsurface {
  padding: 1% 5%;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.asset-card {
  text-align: center;
  min-width: 100%;
}
